body {
	border-style: solid;
	padding: 8px;
	height: 944px;
	width: 524px;
}
h1 {
	font-size: 80px;
	text-align: center;
}
h2 {
	font-size: 60px;
	margin-bottom: 5mm;
}
button {
	font-size: 30px;
	cursor: pointer;
}
button[disabled] {
	cursor: not-allowed;
}
br, input, li, p {
	font-size: 30px;
}
.center {
	display: flex;
	align-items: center;
	gap: 15px;
	flex-direction: column;
}
